.link {
    text-decoration: none;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerIcon {
    font-size: 3em !important;
    color: #000000;
}

.alignCenter {
    align-items: center;
}