.link {
    text-decoration: none;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerIcon {
    font-size: 3em !important;
    color: #000000;
}

.nav {
    display: none;
    align-items: center;
}

.menu {
    display: block;
    align-items: center;
}

.menuButton {
    min-width: auto !important;
}

@media screen and (min-width: 900px) {
    .nav {
        display: flex;
    }

    .menu {
        display: none;
    }

}