.headerText {
    font-weight: 700 !important;
}

.skeletonEditPersonalDataForm {
    height: 450px;

}

.skeletonUserSpecificForm {
    height: 175px;
}

.skeletonHeight {
    height: 100% !important;
}

@media screen and (min-width: 900px) {
    .skeletonEditPersonalDataForm {
        height: 330px;
    }

    .skeletonUserSpecificForm {
        height: 200px;
    }
}