.tableCell {
    font-weight: 700 !important;
    text-align: center !important;
}

.tableRow {
    cursor: default;
}

.centerText {
    text-align: center !important;
}

.gridItem {
    justify-content: center;
    align-items: center;
}

.headerText {
    font-weight: 700 !important;
}
