.link {
    text-decoration: none;
    cursor: pointer;
}

.headerIcon {
    font-size: 3em !important;
    color: #000000;
}

.maxHeight {
    height: 100%;
}

.paddingLeftNone {
    padding: 0 !important;
    margin: 0 !important;
}