.outerBox {
  flex: 0 0 100%;
  position: relative;
  max-width: 100%;
  order: 1;
  min-height: auto;
}

.boxSize {
  width: 100%;
  height: 100%;
  position: relative
}

.boxOverflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.boxForm {
  overflow: hidden;
  left: 0%;
  width: 100%;
  height: 100%;
  position: relative;
  clip-path: none;
  shape-outside: none;
}

.imgBox {
  height: auto;
}

.imgBox img {
  object-fit: cover;
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 900px) {
  .outerBox {
    flex: 0 0 50%;
    max-width: 50%;
    order: 2;
    min-height: calc(100vh - 58px);
  }

  .boxSize {
    width: 50vw;
  }

  .boxOverflow {}

  .boxForm {
    position: absolute;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    shape-outside: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .imgBox {
    height: 100%;
  }

  .imgBox img {
    height: 100%;
    max-height: 100%;
  }
}