.cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardMedia {
    position: relative;
    height: 240px;
    overflow: hidden;
}

.overMediaItemsContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ratingContainer {}

.favouritesContainer {}

.schoolTitle {
    font-weight: 700 !important;
    text-align: left;
}

.schoolItemsContainer {
    display: flex;
    align-items: center;
}

.itemIcon {
    font-size: 1em !important;
    margin-right: 0.5em !important;
}

.cardActions {
    justify-content: flex-end;
}

.loadMoreBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.loadMoreButton {
    width: 100%;
}

.spinner {
    height: 10vh !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.noSchoolFoundMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 1em;
    height: 20vh;
}

.noSchoolFoundMessage {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .cardMedia {
        height: 340px;
    }

    .loadMoreBtnContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .spinner {
        height: 50vh !important;
    }

    .noSchoolFoundMessageContainer {
        height: 50vh;
    }
}

@media screen and (min-width: 900px) {
    .cardMedia {
        height: 280px;
    }

    .loadMoreButton {
        width: auto;
    }
}