.mainContainer {
    min-height: 500px;
    height: auto;
    position: relative;
    background: url('/public/hero.jpg') no-repeat center;
    background-size: cover;
    margin-top: 0;
    padding-top: 13px;
}

.backgroundImageFilter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}