.headerText {
    font-weight: 700 !important;
}

.buttonBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.fullWidth {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .buttonBoxContainer {
        flex-direction: row;
        align-items: center;
    }
}