.headerText {
    font-weight: 700 !important;
}

.centerText {
    text-align: center;
}

.fullPage {
    height: 90vh !important;
    width: 90vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
}